{% for balance_sheet in balance_sheets %}
    <h2>date: {{ balance_sheet.date }}</h2>
    <ul>
        <li>symbol: {{ balance_sheet.symbol }}</li>
        <li>reported_currency: {{ balance_sheet.reported_currency }}</li>
        <li>cik: {{ balance_sheet.cik }}</li>
        <li>filling_date: {{ balance_sheet.filling_date }}</li>
        <li>accepted_date: {{ balance_sheet.accepted_date }}</li>
        <li>calendar_year: {{ balance_sheet.calendar_year }}</li>
        <li>period: {{ balance_sheet.period }}</li>
        <li>cash_and_cash_equivalents: {{ balance_sheet.cash_and_cash_equivalents }}</li>
        <li>short_term_investments: {{ balance_sheet.short_term_investments }}</li>
        <li>cash_and_short_term_investments: {{ balance_sheet.cash_and_short_term_investments }}</li>
        <li>net_receivables: {{ balance_sheet.net_receivables }}</li>
        <li>inventory: {{ balance_sheet.inventory }}</li>
        <li>other_current_assets: {{ balance_sheet.other_current_assets }}</li>
        <li>total_current_assets: {{ balance_sheet.total_current_assets }}</li>
        <li>property_plant_equipment_net: {{ balance_sheet.property_plant_equipment_net }}</li>
        <li>goodwill: {{ balance_sheet.goodwill }}</li>
        <li>intangible_assets: {{ balance_sheet.intangible_assets }}</li>
        <li>goodwill_and_intangible_assets: {{ balance_sheet.goodwill_and_intangible_assets }}</li>
        <li>long_term_investments: {{ balance_sheet.long_term_investments }}</li>
        <li>tax_assets: {{ balance_sheet.tax_assets }}</li>
        <li>other_non_current_assets: {{ balance_sheet.other_non_current_assets }}</li>
        <li>total_non_current_assets: {{ balance_sheet.total_non_current_assets }}</li>
        <li>other_assets: {{ balance_sheet.other_assets }}</li>
        <li>total_assets: {{ balance_sheet.total_assets }}</li>
        <li>account_payables: {{ balance_sheet.account_payables }}</li>
        <li>short_term_debt: {{ balance_sheet.short_term_debt }}</li>
        <li>tax_payables: {{ balance_sheet.tax_payables }}</li>
        <li>deferred_revenue: {{ balance_sheet.deferred_revenue }}</li>
        <li>other_current_liabilities: {{ balance_sheet.other_current_liabilities }}</li>
        <li>total_current_liabilities: {{ balance_sheet.total_current_liabilities }}</li>
        <li>long_term_debt: {{ balance_sheet.long_term_debt }}</li>
        <li>deferred_revenue_non_current: {{ balance_sheet.deferred_revenue_non_current }}</li>
        <li>deferred_tax_liabilities_non_current: {{ balance_sheet.deferred_tax_liabilities_non_current }}</li>
        <li>other_non_current_liabilities: {{ balance_sheet.other_non_current_liabilities }}</li>
        <li>total_non_current_liabilities: {{ balance_sheet.total_non_current_liabilities }}</li>
        <li>other_liabilities: {{ balance_sheet.other_liabilities }}</li>
        <li>capital_lease_obligations: {{ balance_sheet.capital_lease_obligations }}</li>
        <li>total_liabilities: {{ balance_sheet.total_liabilities }}</li>
        <li>preferred_stock: {{ balance_sheet.preferred_stock }}</li>
        <li>common_stock: {{ balance_sheet.common_stock }}</li>
        <li>retained_earnings: {{ balance_sheet.retained_earnings }}</li>
        <li>accumulated_other_comprehensive_income_loss: {{ balance_sheet.accumulated_other_comprehensive_income_loss }}</li>
        <li>other_total_stockholders_equity: {{ balance_sheet.other_total_stockholders_equity }}</li>
        <li>total_stockholders_equity: {{ balance_sheet.total_stockholders_equity }}</li>
        <li>total_equity: {{ balance_sheet.total_equity }}</li>
        <li>total_liabilities_and_stockholders_equity: {{ balance_sheet.total_liabilities_and_stockholders_equity }}</li>
        <li>minority_interest: {{ balance_sheet.minority_interest }}</li>
        <li>total_liabilities_and_total_equity: {{ balance_sheet.total_liabilities_and_total_equity }}</li>
        <li>total_investments: {{ balance_sheet.total_investments }}</li>
        <li>total_debt: {{ balance_sheet.total_debt }}</li>
        <li>net_debt: {{ balance_sheet.net_debt }}</li>
        <li>link: {{ balance_sheet.link }}</li>
        <li>final_link: {{ balance_sheet.final_link }}</li>
    </ul>
{% endfor %}
