<p>symbol: {{ company_profile.symbol }}</p>
<p>price: {{ company_profile.price }}</p>
<p>beta: {{ company_profile.beta }}</p>
<p>average volume: {{ company_profile.vol_avg }}</p>
<p>market capitalization: {{ company_profile.mkt_cap }}</p>
<p>last dividend: {{ company_profile.last_div }}</p>
<p>range: {{ company_profile.range }}</p>
<p>changes: {{ company_profile.changes }}</p>
<p>company name: {{ company_profile.company_name }}</p>
<p>currency {{ company_profile.currency }}</p>
<p>CIK: {{ company_profile.cik }}</p>
<p>ISIN: {{ company_profile.isin }}</p>
<p>CUSIP: {{ company_profile.cusip }}</p>
<p>exchange: {{ company_profile.exchange }}</p>
<p>exchange short name: {{ company_profile.exchange_short_name }}</p>
<p>industry: {{ company_profile.industry }}</p>
<p>website: {{ company_profile.website }}</p>
<p>description: {{ company_profile.description }}</p>
<p>ceo: {{ company_profile.ceo }}</p>
<p>sector: {{ company_profile.sector }}</p>
<p>country: {{ company_profile.country }}</p>
<p>full time employees: {{ company_profile.full_time_employees }}</p>
<p>phone: {{ company_profile.phone }}</p>
<p>address: {{ company_profile.address }}</p>
<p>city: {{ company_profile.city }}</p>
<p>state: {{ company_profile.state }}</p>
<p>zip: {{ company_profile.zip }}</p>
<p>DCF difference: {{ company_profile.dcf_diff }}</p>
<p>DCF: {{ company_profile.dcf }}</p>
<p>image: {{ company_profile.image }}</p>
<p>IPO date: {{ company_profile.ipo_date }}</p>
<p>default image: {{ company_profile.default_image }}</p>
<p>is ETF: {{ company_profile.is_etf }}</p>
<p>is actively trading: {{ company_profile.is_actively_trading }}</p>
<p>is ADR: {{ company_profile.is_adr }}</p>
<p>is fund: {{ company_profile.is_fund }}</p>
